<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="primary"></ion-back-button>
    </ion-buttons>

    <ion-title color="primary">List - Reorder</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="reorderDisable = !reorderDisable">
        <ion-icon slot="start" name="swap-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-reorder-group [disabled]="reorderDisable" (ionItemReorder)="doReorder($event)">
      <ion-item *ngFor="let hero of heroes">
        <ion-label>{{ hero }}</ion-label>
        <ion-reorder slot="start">
          <ion-icon name="hand-left-outline"></ion-icon>
        </ion-reorder>
      </ion-item>
    </ion-reorder-group>
  </ion-list>
</ion-content>